<!-- INCLUDE overall_header.html -->

<h2>{STREAMLIST_MESSAGE}</h2><br>

<h2>{STREAMLIST_ONLINE}</h2>

<!-- IF not .online_streams -->
	<div class="post has-profile bg2 online">
		<div class="inner">
			<div class="postbody">
				<div id="post_content1">
					<div class="content">
						{NO_ONLINE_STREAM}
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- ENDIF -->

<!-- BEGIN online_streams -->
	<div class="post has-profile bg2 online">
		<div class="inner">
			<dl class="postprofile">
				<dt class="has-profile-rank no-avatar dropdown-container dropdown-right dropdown-down">
					<div class="avatar-container"></div>
					{online_streams.STREAM_OWNER}
				</dt>
			</dl>
			<div class="postbody">
				<div id="post_content1">
					<div class="content">
						{online_streams.STREAM_LINK}
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END online_streams -->

<!-- IF .offline_streams -->

	<h2>{STREAMLIST_OFFLINE}</h2>

	<!-- BEGIN offline_streams -->
		<div class="post has-profile bg2 offline">
			<div class="inner">
				<dl class="postprofile">
					<dt class="has-profile-rank no-avatar dropdown-container dropdown-right dropdown-down">
						<div class="avatar-container"></div>
						{offline_streams.STREAM_OWNER}
					</dt>
				</dl>
				<div class="postbody">
					<div id="post_content1">
						<div class="content">
							{offline_streams.STREAM_LINK}
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- END offline_streams -->
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
